In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('spam1.csv',encoding='latin-1')

In [29]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [30]:
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis =1, inplace=True)

In [31]:
df.rename(columns={'v1': 'Category', 'v2': 'Message'}, inplace=True)

In [33]:
df.head(10)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
6      ham  Even my brother is not like to speak with me. ...
7      ham  As per your request 'Melle Melle (Oru Minnamin...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...

In [34]:
df.shape

(5572, 2)

In [36]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    653  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [39]:
df['is_spam'] = df['Category'].apply(lambda x:1 if x=='spam' else 0)
df.head()

  Category                                            Message  is_spam
0      ham  Go until jurong point, crazy.. Available only ...        0
1      ham                      Ok lar... Joking wif u oni...        0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        1
3      ham  U dun say so early hor... U c already then say...        0
4      ham  Nah I don't think he goes to usf, he lives aro...        0

In [40]:
df.drop(['Category'], axis =1, inplace=True)

In [41]:
df.head()

                                             Message  is_spam
0  Go until jurong point, crazy.. Available only ...        0
1                      Ok lar... Joking wif u oni...        0
2  Free entry in 2 a wkly comp to win FA Cup fina...        1
3  U dun say so early hor... U c already then say...        0
4  Nah I don't think he goes to usf, he lives aro...        0

In [43]:
X = df['Message']
y = df['is_spam']

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=101)

In [52]:
X_train.values

array(['No did you check? I got his detailed message now',
       "For me the love should start with attraction.i should feel that I need her every time around me.she should be the first thing which comes in my thoughts.I would start the day and end it with her.she should be there every time I dream.love will be then when my every breath has her name.my life should happen around her.my life will be named to her.I would cry for her.will give all my happiness and take all her sorrows.I will be ready to fight with anyone for her.I will be in love when I will be doing the craziest things for her.love will be when I don't have to proove anyone that my girl is the most beautiful lady on the whole planet.I will always be singing praises for her.love will be when I start up making chicken curry and end up makiing sambar.life will be the most beautiful then.will get every morning and thank god for the day because she is with me.I would like to say a lot..will tell later..",
       "I don't think he has spatula hands!", ...,
       'Shuhui say change 2 suntec steamboat? U noe where? Where r u now?',
       'Bishan lar nearer... No need buy so early cos if buy now i gotta park my car...',
       'I want  &lt;#&gt;  rs da:)do you have it?'], dtype=object)

In [49]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()

In [50]:
X_train_count = v.fit_transform(X_train.values)

In [53]:
X_train_count.toarray()[:5]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [54]:
from sklearn.naive_bayes import MultinomialNB

In [56]:
model = MultinomialNB()
model.fit(X_train_count, y_train)

MultinomialNB()

In [61]:
text = [
    'Is that seriously how you spell his name?',
    'Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C']

In [62]:
text_count = v.transform(text)

In [63]:
model.predict(text_count)

array([0, 1], dtype=int64)

In [65]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9874439461883409

In [66]:
from sklearn.pipeline import Pipeline

In [67]:
classifier = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [68]:
classifier.fit(X_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [69]:
classifier.score(X_test, y_test)

0.9874439461883409

In [70]:
classifier.predict(text)

array([0, 1], dtype=int64)